@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';
@import '../../styles/sizing.scss';

.wrapper {
    margin-top: 34px;
    padding: 10px;
    @media screen and (min-width: 993px) {
        padding: 10px $gutterWidth;
    }
}

h2 {
    font-size: $headingBig;
}

.movies {
    width: calc(100% - (#{$gutterWidth} * 2));
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (min-width: 993px) {
        min-height: 1200px;
    }
}

.pagination {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 300px;
    z-index: 10;
    height: 120px;
    margin: 0 auto 30px;
    @media screen and (min-width: 750px) {
        width: 650px;
        height: 40px;
    }
    .paginationButton {
        position: relative;
        border: 2px solid $blueMedium2;
        background-color: transparent;
        width: 40px;
        height: 40px;
        margin: 10px 5px;
        color: $blueMedium1;
        outline: none;
        cursor: pointer;
        border-radius: 14px;
        &.selected {
            background-color: $blueMedium2;
            color: $blueDark;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    .pageButton {
        position: relative;
        background-color: transparent;
        margin: 10px 5px;
        border: 2px solid $blueMedium2;
        width: 40px;
        height: 40px;
        color: $blueMedium1;
        outline: none;
        cursor: pointer;
        border-radius: 14px;
        &.selected {
            background-color: $blueMedium2;
            color: $blueDark;
        }
    }
}
