header {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #0d1d38;
    .overlay {
        position: absolute;
        z-index: 1;
        background: url('../../assets/backgroundimg.png');
        background-size: cover;
        mix-blend-mode: luminosity;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}
